# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Doxygen directories
src-mpi/html
src-mpi/latex

#yaml putput files
*.yaml

#executable
bin/

#other files
src-mpi/.depend
src-mpi/CoMD_info.h
